* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
  background-image: url('/img/background.jpg');
}

img {
  object-fit: contain;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
h1 {
  margin-bottom: 1rem;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: aqua;
  padding: 20px;
  color: #555;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
}

button:hover {
  opacity: 0.75;
}

form > #url {
  padding: 20px;
  outline: none;
  border: none;
  width: 100%;
  font-size: 1rem;
  flex: 2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

form {
  width: 600px;
  display: flex;
}

#loading {
  font-size: 1.2rem;
  color: #555;
}

#shorturl {
  font-size: 1.5rem;
  font-weight: bold;
  color: #555;
}
